<h1>New Task</h1>
<p> Add New Task </p>
<form action="/tasks" method="post">

  <label for="">Task Name</label>
  <input type="text" name="name" value="" placeholder="Task">

  <label for="">Priority</label>
  <input type="text" name="priority" value="" placeholder="Priority">

  <input type="submit" name="" value="Submit">
</form>
